* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* header */

header {
    min-height: 546px;
    background-color: #b4d0e7;
}

#sfondo-nav {
    background-color: #ffffff;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.logo-nav, .paragrafo-jambo,  .img {
    float: left;
    width: 50%;
}

.nav-inizia {
    float: right;
    width: 50%;
    text-align: right;
}

.logo-nav, .nav-inizia {
    height: 100px;
    line-height: 100px;
}

nav,ul {
    display: inline-block;
}

header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    margin-left: 30px;
}

header nav a {
    text-decoration: none;
    color: rgb(38, 34, 44);
    font-size: 14px;
}

.container-jambo-center {
    width: 80%;
    height: 300px;
    margin: auto;
    z-index: 10;
}