* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.centratura {
    width: 70vw;
    margin: auto;
}

/* header */

header {
    margin-top: 100px;
    min-height: 500px;
    background-color: #b4d0e7;
}

#regole-nav {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    padding: 0 20px 0 20px
}

button {
    background-color: #0061ff;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: rgb(44, 78, 181);
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.logo-nav {
    float: left;
    width: 50%;
    cursor: pointer;
    /* line-height: 50px; */
    vertical-align: middle;
}

.nav-inizia {
    float: right;
    width: 50%;
    text-align: right;
}

.logo-nav, .nav-inizia {
    height: 100px;
    line-height: 100px;
}

nav,ul {
    display: inline-block;
}

header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    margin-left: 30px;
}

header nav ul li:hover {
    border-bottom: solid 3px rgb(45, 47, 49);
} 

header nav a {
    text-decoration: none;
    color: rgb(38, 34, 44);
    font-size: 14px;
}

.logo-nav img {
    vertical-align: middle;
}

/* .container-jambo {
    height: 300px;
} */

h1 {
    font-size: 70px;
    /* margin-top: 150px; */
}

.container-img-jumbo {
    float: left;
    width: 60%;
}

.paragrafo-jumbo {
    float: left;
    width: 35%;
    margin-top: 40px;
    margin-right: 5%;
}

.img-jumbo {
    position: relative;
    top: 40px;
    width: 100%;
}

.container-jambo i {
    margin-top: 20px;
    font-size: 30px;
    cursor: pointer;
    color: black; 
    position: relative;
    animation: mymove infinite;
    animation-duration: 5s;
}

@keyframes mymove {
    from {top: 0px;}
    to {top: 50px;}
  }

.container-jambo button {
    margin: 20px 0 10px 0;
}

/* main */

/* sezione ( trova il tuo piano) */

h2 {
    margin-top: 80px;
    font-size: 40px;
}

.check {
   margin-top: 50px; 
   margin-bottom: 30px;
   margin-right: 10px;
}
 
.check span {
   margin-right: 20px;
}

.fake-check {
    width: 15px;
    height: 15px;
    border: steelblue 4px solid;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    vertical-align: bottom;
}

.fake-check:hover {
    background-color: steelblue;
}


/* sezione elementi flottati */

.altezza-sezioni {
    min-height: 900px;
}

.main-sezione-offerte{
    padding: 20px;
}

.main-sezione-offerte ul {
    list-style-type: none;
    margin-top: 30px;
}

.main-sezione-offerte li {
    margin-bottom: 20px;    
}

.elenco-punti-salienti i {
    color: steelblue;
}

.professional, .advanced {
    float: left;
    border: 1px solid gray;
    width: 30%;   
}

.standard {
    float: left;
    border: 1px solid grey;   
    width: 30%;
    margin-right: 5%;
    margin-left: 5%;
}

.header-sezione {
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid grey;
}

.header-sezione span {
    margin-left: 10px;
}

hr {
    width: 50px;
}

.main-sezione-offerte button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-sezione-offerte h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-sezione-offerte .mese {
    color: grey;
}

.aquista-ora {
    margin-bottom: 20px;
}


/* sezione enterprise */

.container-enterprise {
    border: 1px solid grey; 
    min-height: 300px;
    margin-top: 40px; 
    margin-bottom: 80px;
}

.left-enterprise {
    float: left;
    width: 70%;
}

.right-enterprise {
    text-align: right;
    float: right;
    width: 30%;
}

/* sezopne entra in contatto */

.img-left {
    float: left;
    width: 46%;
    margin-right: 2%;
}

.testo-right {
    float: left;
    width: 46%;
    margin-left: 2%;
}

.img-left img {
    max-width: 100%;
}

#button-white {
    background-color: white;
    color: black;
    border: black 1px solid;
    /* max-width: 200px;
    min-width: 150px; */
}

#button-white:hover {
    background-color:lightgrey;
}

.entra-in-contatto p {
    margin-top: 20px;
    margin-bottom: 20px;
}



/* esegui più operazioni */

.left-business, .right-business, .center-business {
    margin-top: 50px;
    float: left;
    width: 30%;
    min-height: 300px;
}

.center-business {
    margin-left: 5%;
    margin-right: 5%;
}

.operazioni img {
    width: 100%;
}

.operazioni p {
    margin-top: 20px;
}

/* sezione Più di 50.000 team ( loghi ) */

                
.scopri-di-più {
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

.container-loghi {
    width: 100%;
    max-height: 300px;
}

.container-loghi-left, .container-loghi-right {
    float: left;
    width: 30%;
}

.container-loghi-center {
    float: left;
    width: 40%;
    padding: 40px;
    background-color: #f5f5f5 ;
}

.container-loghi-center img {
    width: 30%;
}

.riga-loghi {
    text-align: center;
    float: left;
    width: 50%;
    height: 150px;
    line-height: 150px;
}
.riga-loghi img {
    width: 50%;
    filter: invert(1);  
    vertical-align: middle; 
}
.verde {
    background-color: #a2d39b;
    border: 8px solid #ccffcc;
}
.viola {
    background-color: #61082b; 
}

.azzurro {
    background-color: #0093ce ;
}

.arancione {
    background-color: #ff1c1c ;
}

.rosso {
    background-color: #d5001f;
}

.blue {
    background-color:#0d2481;
}

.celeste {
    background-color:  #b4d0e7;
}
.giallo {
    background-color: #ffd830 ;
}

/* sezione porta dropbox nella tua azienda */

.container-porta-dropbox {
    width: 100%;
    min-height: 250px;
    background-color: #b4d0e7;
}

.container-porta-dropbox .cl-sx {
    float: left;
    width: 70%;
}
.container-porta-dropbox .cl-dx{
    float: left;
    width: 30%;
    margin-top: 80px;
}

.container-porta-dropbox h2 {
    color: #61082b;
}
/* sezione domande frequenti */

.domande-frequenti .cl-sx {
    float: left;
    width: 70%;
}

.domande-frequenti .cl-dx {
    float: right;
    width: 30%;
    text-align: right;
}

.domande-frequenti .row {
    padding: 20px 20px 20px 0;
    border-top: lightgrey 2px solid;
}

.domande-frequenti h3 {
    margin: 80px 0px 40px 0;
}

/* footer */

footer {
    margin-top: 100px;
    min-height: 350px;
    background-color: black;
}

.centratura-footer {
    width: 80vw;
    margin: auto;
}

.nav-footer {
    margin: 50px 0 50px 0;
    float: left;
    width: 20%;
}

footer h3 {
    color: white;
}

footer li {
    list-style: none;
    margin: 5px 0;
}

footer a {
    font-size: 12px;
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.lingua-footer {
    margin-top: 20px;
    color:lightgrey;
    font-size: 10px;
}