* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.centratura {
    width: 80vw;
    margin: auto;
}

/* header */

header {
    min-height: 650px;
    background-color: #b4d0e7;
}

#regole-nav {
    background-color: #ffffff;
    /* position: fixed; */
    position: sticky;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.logo-nav {
    float: left;
    width: 50%;
}

.nav-inizia {
    float: right;
    width: 50%;
    text-align: right;
}

.logo-nav, .nav-inizia {
    height: 100px;
    line-height: 100px;
}

nav,ul {
    display: inline-block;
}

header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    margin-left: 30px;
}

header nav a {
    text-decoration: none;
    color: rgb(38, 34, 44);
    font-size: 14px;
}

.container-jambo {
    height: 300px;
}

h1 {
    font-size: 70px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.container-img-jumbo {
    float: left;
    width: 60%;
}

.paragrafo-jumbo {
    float: left;
    width: 30%;
    margin-right: 10%;
}

.img-jumbo {
    width: 100%;
}

/* main */
/* sezione ( trova il tuo piano) */

h2 {
    margin-top: 150px;
    font-size: 40px;
}

input {
   margin-top: 50px; 
   margin-bottom: 30px;
   margin-right: 10px;
}
 
.radio span {
   margin-right: 20px;
}

/* sezione elementi flottati */

.altezza-sezioni {
    min-height: 700px;
}

.main-sezione{
    padding: 20px;
}

.professional, .advanced {
    float: left;
    border: 1px solid gray;
    width: 30%;
    
}

.standard {
    float: left;
    border: 1px solid grey;   
    width: 30%;
    margin-right: 5%;
    margin-left: 5%;
}

.header-sezione {
    text-align: center;
    
    line-height: 50px;
    border-bottom: 1px solid grey;
}

.header-sezione span {
    margin-left: 10px;
}

.main-sezione > hr {
    width: 50px;
}

/* sezione enterprise */

.container-enterprise {
    border: 1px solid grey; 
    min-height: 300px;
    margin-top: 40px; 
    margin-bottom: 80px;
}

.left-enterprise {
    float: left;
    width: 70%;
}

.right-enterprise {
    text-align: right;
    float: right;
    width: 30%;
}

/* sezopne entra in contatto */

.img-left {
    float: left;
    width: 46%;
    margin-right: 2%;
}

.testo-right {
    float: left;
    width: 46%;
    margin-left: 2%;
}

.img-left img {
    max-width: 100%;
}

